.swiper {
  max-width: 1380px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  overflow-y: visible;
}

.swiper-pagination-bullet-active {
  background-color: #718096;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: white;
  width: 1rem;
  height: 1rem;
  padding: 1rem;
  border-radius: 50%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 0.8rem;
  color: black;
}
