.swiper {
  padding: 32px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet-active {
  background-color: #718096;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: gray;
  width: 1rem;
  height: 1rem;
  padding: 1rem;
  border-radius: 50%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 1rem;
  color: white;
}
